<div class="bet-slip">
  <section class="items">
    <span *ngFor="let item of ballNumbers" class="items__item" [ngClass]="getClass(item.item)">{{ item.item }}</span>
  </section>
  <section class="bet-amount-form">
    <form [formGroup]="betAmountForm" class="form" autocomplete="off">
      <div class="form__group">
        <span class="multi">{{ (betService.ballNumberEvent$ | async | selected).length }}x</span>
        <input class="input" type="text" name="betAmount" [readonly]="betService.betting" formControlName="betAmount">
      </div>
      <div class="form__button">
        <button class="button button--mini" (click)="setTotal()" [disabled]="submitDisabled">OK</button>
      </div>
      <div class="form__error">
        <span>{{ errorMessage }}</span>
      </div>
    </form>
  </section>
  <section class="total">Total: {{ total }}&nbsp;€</section>
  <section class="action">
    <div class="action__button">
      <button class="button button--full" (click)="placeBet()" [disabled]="!total || betService.betting">Place
        bet</button>
    </div>
  </section>
</div>
