button {
  font-family: $font-text-semibold;
  font-size: $font-size-m;

  &.button {
    display: inline-block;
    background-color: $blue;
    height: 0;
    line-height: 0;
    padding: 1.75rem 2rem;
    border: none;
    color: $white;
    cursor: pointer;

    &[disabled] {
      opacity: .5;
    }

    &--full {
      width: 100%;
    }

    &--mini {
      padding: 1.25rem 1.5rem;
    }

    &:hover:not(:disabled) {
      background-color: $blue-dark;
    }
  }
}
