.main {
  display: block;
  background-color: $gray-light;

  @media (min-width: 768px) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  app-ball-selector {
    display: block;
    margin: .5rem;
    
    @media (min-width: 768px) {
      -webkit-flex: 0 1 60%;
      -ms-flex: 0 1 60%;
      flex: 0 1 60%;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      margin: .5rem .25rem 0 .5rem;
    }

  
  }

  app-bet-slip {
    display: block;
    margin: .5rem;

    @media (min-width: 768px) {
      -webkit-flex: 0 1 40%;
      -ms-flex: 0 1 40%;
      flex: 0 1 40%;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      margin: .5rem .5rem 0 .25rem;
    }
  }
}
