.ball-selector {
  height: 100%;

  .ball-numbers {
    padding: 3rem 1rem 9rem;
    background-color: $white;
    height: 100%;

    &__title {
      font-family: $font-text-bold;
      font-size: $font-size-m;
      margin-bottom: 1rem;
      text-align: center;
    }

    &__balls {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-bottom: 2rem;

      .ball {
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        text-align: center;
        line-height: 2.75rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin: .125rem .25rem;
        cursor: pointer;
        font-family: $font-text-semibold;
        font-size: $font-size-m;

        &.selected,
        &:hover {
          opacity: 1;

          &.red {
            background-color: $red;
            border: 0.125rem solid $red;
          }

          &.yellow {
            background-color: $yellow;
            border: 0.125rem solid $yellow;
          }

          &.green {
            background-color: $green;
            border: 0.125rem solid $green;
          }
        }

        &.red {
          background-color: rgba($red, 0.2);
          border: 0.125rem solid rgba($red, 0.2);
        }

        &.yellow {
          background-color: rgba($yellow, 0.2);
          border: 0.125rem solid rgba($yellow, 0.2);
        }

        &.green {
          background-color: rgba($green, 0.2);
          border: 0.125rem solid rgba($green, 0.2);
        }
      }
    }

    &__action {
      text-align: center;
      font-family: $font-text-semibold;
      font-size: $font-size-m;
      margin-bottom: 2rem;

      .action {
        color: $blue;
        cursor: pointer;

        &:hover {
          color: $blue-dark;
        }
      }
    }

    &__betting {
      text-align: center;
    }
  }


  .result {
    text-align: center;
    font-family: $font-text-semibold;
    padding: 3rem 1rem 9rem;
    background-color: $white;
    height: 100%;

    &__title {
      font-size: $font-size-m;
      margin-bottom: 1rem;
    }

    &__item {
      font-size: $font-size-l;
      margin-bottom: 1rem;

      .item {
        display: inline-block;
        text-align: center;
        line-height: 2.625rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;

        &.red {
          background-color: $red;
          border: 0.125rem solid $red;
        }

        &.yellow {
          background-color: $yellow;
          border: 0.125rem solid $yellow;
        }

        &.green {
          background-color: $green;
          border: 0.125rem solid $green;
        }
        
      }
    }

    &__message {
      text-transform: uppercase;
      font-family: $font-text-bold;
      font-size: $font-size-l;
      margin-bottom: 3rem;

      &.error {
        color: $red;
      }

      &.success {
        color: $green;
      }
    }
  }
}
