.bet-slip {
  height: 100%;
  position: relative;

  .items {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 1rem 1rem 2rem;
    background-color: $white;
    height: 5rem;

    &__item {
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      text-align: center;
      line-height: 1.625rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: .125rem .25rem;
      font-family: $font-text-semibold;
      font-size: $font-size-x;

      &.red {
        background-color: $red;
        border: 0.125rem solid $red;
      }

      &.yellow {
        background-color: $yellow;
        border: 0.125rem solid $yellow;
      }

      &.green {
        background-color: $green;
        border: 0.125rem solid $green;
      }

      &.gray {
        background-color: $gray-light;
        border: 0.125rem solid $gray-light;
      }
    }

  }

  .bet-amount-form {
    padding: 1rem 1rem 6rem;
    background-color: $white;

    .form {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;

      &__group {
        -ms-flex: 0 1 75%;
        flex: 0 1 75%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        padding-right: 1rem;
        position: relative;

        .multi {
          background-color: $gray-elight;
          border: 0.1875rem solid $gray-light;
          margin: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 2.5rem;
          bottom: 0;
          line-height: 2rem;
          text-align: center;
        }

        .input {
          border-top: 0.1875rem solid $gray-light;
          border-right: 0.1875rem solid $gray-light;
          border-bottom: 0.1875rem solid $gray-light;
          border-left: none;
          padding-left: 1rem;
          margin: 0;
          position: absolute;
          top: 0;
          left: 2.5rem;
          right: 1rem;
          bottom: 0;
          outline: none;
        }
      }

      &__button {
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
      }

      &__error {
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        padding: .25rem 0 0;
        height: 1.4rem;
        font-size: $font-size-xs;
        color: $red;
      }
    }

  }

  .total {
    text-align: center;
    padding: 1rem 0;
    background-color: $gray-light;
    font-family: $font-text-semibold;
    font-size: $font-size-m;
  }

  .action {
    text-align: center;
    background-color: $gray-light;
  }

}
