@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../../assets/fonts/OpenSans-SemiBold.eot");
    src: url("../../assets/fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../../assets/fonts/OpenSans-SemiBold.ttf") format("truetype"),
        url("../../assets/fonts/OpenSans-SemiBold.woff2") format("woff2"),
        url("../../assets/fonts/OpenSans-SemiBold.woff") format("woff"),
        url("../../assets/fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "OpenSansRegular";
    src: url("../../assets/fonts/OpenSans-Regular.eot");
    src: url("../../assets/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("../../assets/fonts/OpenSans-Regular.ttf") format("truetype"),
        url("../../assets/fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../../assets/fonts/OpenSans-Regular.woff") format("woff"),
        url("../../assets/fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../../assets/fonts/OpenSans-Bold.eot");
    src: url("../../assets/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
        url("../../assets/fonts/OpenSans-Bold.ttf") format("truetype"),
        url("../../assets/fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../../assets/fonts/OpenSans-Bold.woff") format("woff"),
        url("../../assets/fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}


$font-text: "OpenSansRegular", Arial, Helvetica, sans-serif;
$font-text-semibold: "OpenSansSemiBold", Arial, Helvetica, sans-serif;
$font-text-bold: "OpenSansBold", Arial, Helvetica, sans-serif;

$font-size-xs: 0.8rem;
$font-size-x: 1rem;
$font-size-m: 1.125rem;
$font-size-l: 1.25rem;
