<div class="ball-selector">
  <section *ngIf="(betService.betDoneEvent$ | async) !== true; else done" class="ball-numbers">
    <p class="ball-numbers__title">Numbers</p>
    <div class="ball-numbers__balls">
      <span *ngFor="let ball of (betService.ballNumberEvent$ | async)" class="ball" [class.selected]="ball.selected"
        [ngClass]="getClass(ball.item)" (click)="setBallNumber(ball)">
        {{ ball.item }}
      </span>
    </div>
    <p *ngIf="!betService.betting; else betting" class="ball-numbers__action">
      <span class="action" (click)="clearSelection()">Clear selection</span>
    </p>
    <ng-template #betting>
      <p class="ball-numbers__betting">
        <span>Betting..., please wait.</span>
      </p>
    </ng-template>
  </section>
  <ng-template #done>
    <section class="result">
      <p class="result__title">Result</p>
      <p class="result__item"><span class="item"
          [ngClass]="getClass(betService.winningBet || '')">{{ betService.winningBet || '--' }}</span></p>
      <p class="result__message"
        [ngClass]="{'error': resultMessage === 'you lost', 'success': resultMessage !== 'you lost' }">
        {{ resultMessage }}</p>
      <p class="result__button">
        <button class="button" (click)="reset()">Reset</button>
      </p>
    </section>
  </ng-template>
</div>
